.movies-cards__item {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0;
    padding: 0;
    color: #000000;
    position: relative;
}

.movies-cards__item:hover .movies-cards__save-btn {
    opacity: 1;
}

.movies-cards__description {
    box-sizing: border-box;
    padding: 11px 10px 0 10px ;
    width: 100%;
    max-width: 360px;
}

.movies-cards__description-container {
    display: flex;
    justify-content: space-between;
}

.movies-cards__title {
    margin: 0;
    font-style: normal;
    font-weight: 500;
    font-size: 14px;
    line-height: 17px;
}

.movies-cards__duration {
    margin: 0;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    line-height: 10px;
    display: flex;
    align-items: center;
    text-align: center;
    color: #A0A0A0;
    background-color: #F9F9F9;
    border-radius: 3px;
    padding: 3px 7px;
}

.movies-cards__save-btn {
    z-index: 99;
    position: absolute;
    content: '';
    top: 14px;
    right: 14px;
    width: 72px;
    height: 21px;
    font-style: normal;
    font-weight: 400;
    font-size: 10px;
    line-height: 9px;
    text-align: center;
    background-color: #F9F9F9;
    border-radius: 30px;
    border: 0;
    cursor: pointer;
    opacity: 0;
}

.movies-cards__save-btn-active {
    background-image: url("../../images/icon__movies-galka.svg");
    background-repeat: no-repeat;
    background-position: center;
    position: absolute;
    content: '';
    top: 14px;
    right: 14px;
    width: 21px;
    height: 21px;
    text-align: center;
    border-radius: 50%;
    border: 0;
    background-color: #FF3055;
    cursor: pointer;
    z-index: 10;
}

.movies-cards__delete-btn {
    background-image: url("../../images/detele-movie-btn.svg");
    background-repeat: no-repeat;
    background-position: center;
    border-radius: 50%;
    border: 0;
    width: 21px;
    height: 21px;
    background-color: #F9F9F9;
    transition: .3s;
}

.movies-cards__trailer-link {
    height: 100%;
    width: 100%;
    z-index: 0;
    position: relative;
    overflow: hidden;
    padding: 0;
}

.movies-cards__image {
    height: 100%;
    width: 100%;
    object-fit: cover;
    border-radius: 6px;
    padding: 0;
    margin: 0;
    aspect-ratio: 16 / 9;
}

.movies-cards__save-btn,
.movies-cards__delete-btn {
    transition: 0.3s;
}

.movies-cards__save-btn:hover {
    background-color: #bbbbbb;
}

@media screen and (max-width: 900px) {
    .movies-cards__description {
        padding: 23px 10px 0 0;
    }
}

@media screen and (max-width: 650px) {
    .movies-cards__description {
        padding-top: 13px;
    }

    .movies-cards__title {
        font-size: 12px;
        line-height: 15px;
    }

    .movies-cards__save-btn {
        top: 10px;
        right: 10px;
    }
}