.notfound {
    max-width: 400px;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
}

.notfound__title {
    margin: 0;
    font-weight: 400;
    font-size: 140px;
    line-height: 169px;
}

.notfound__subtitle {
    margin: 5px 0 0;
    font-size: 16px;
    line-height: 19px;
}

.notfound__back {
    margin-top: 184px;
    font-size: 14px;
    line-height: 17px;
    color: #3456F3;
    text-decoration: none;
}

.notfound__back:hover {
    opacity: 0.5;
    transition: 2ms;
}

@media screen and (max-width: 768px) {
    .notfound__back {
        bottom: 220px;
    }
}

@media screen and (max-width: 450px) {
    .notfound__title {
        margin-top: 298px;
        font-size: 80px;
        line-height: 97px;
    }

    .notfound__subtitle {
        margin-top: 10px;
        font-size: 12px;
        line-height: 15px;
    }

    .notfound__back {
        margin-top: 284px;
        font-size: 12px;
        line-height: 15px;
    }
}