.movies-cards__list {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    width: 100%;
    list-style: none;
    margin: 0;
    column-gap: 30px;
    row-gap: 58px;
    padding: 73px 0;
}

@media screen and (max-width: 900px) {
    .movies-cards__list {
        padding: 85px 0 57px;
        grid-template-columns: repeat(2, 1fr);
        row-gap: 45px;
    }
}

@media screen and (max-width: 650px) {
    .movies-cards__list {
        padding: 43px 0 58px;
        grid-template-columns: 1fr;
        row-gap: 38px;
    }
}