.search {
    padding: 60px 0 0;
    width: 100%;
    margin: 0 auto;
    display: flex;
    align-items: center;
    box-sizing: border-box;
}

.search-form {
    display: block;
    width: 100%;
    padding: 0;
    margin: 0;
}

.search-form__input-and-button {
    position: relative;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 52px;
    padding: 0;
    margin: 0;
}

.search-form__fieldset {
    padding: 0;
    margin: 0;
    border: 0;
}

.search-form__input-and-button:before {
    position: absolute;
    content: '';
    bottom: 0;
    left: 0;
    border-bottom: 1px solid #E8E8E8;
    width: 100%;
}

.search-form__input {
    width: 100%;
    font-style: normal;
    font-weight: 500;
    font-size: 28px;
    line-height: 34px;
    color: #A0A0A0;
    border: 0;
    padding: 0;
}

.search-form__button {
    padding: 8px 10px;
    border: none;
    background-color: #3456F3;
    border-radius: 48px;
    cursor: pointer;
    font-style: normal;
    font-weight: 500;
    font-size: 11px;
    line-height: 18px;
    text-align: center;
    color: #ffffff;
}

@media screen and (max-width: 900px) {
    .search {
        padding-top: 68px;
    }
}

@media screen and (max-width: 650px) {
    .search {
        padding: 72px 4px 0;
    }

    .search-form__input {
        font-size: 18px;
        line-height: 22px;
    }

    .search-form__button {
        padding: 8px 13px;
    }
}